/* Dashboard */
/*h5 > a, h5 > a:hover, h5 > a:visited {*/
/*    color: black;*/
/*}*/


.scrollable-table-wrapper > * .simplebar-scrollbar::before {
    background-color: #c1c1c1;
}

.scrollable-table-wrapper > .simplebar-track.simplebar-horizontal {
    height: 16px !important;
}

.scrollable-table-wrapper > * .simplebar-scrollbar {
    height: 12px !important;
}

.nav-cat.active {
    background: transparent !important;
    outline: none;
}

.nav-cat.active span {
    background: #57A6FF77 !important;
    border-radius: 30px;
    padding: .32rem .64rem;
}

#models-summary-host img {
    max-width: 100%;
}

#nav-details-prediction img {
    width: 100%;
}